#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	git clean -fdx -e debian

override_dh_auto_configure: ;
	git lfs install

override_dh_auto_build:
	make build

override_dh_auto_install: ;

override_dh_auto_test: ;
